@import "../../../styles/variables/mixins";
.my-breadcrumb {
  position: absolute;
  width: 80vw;
  left: 10vw;
  top: 20vh;
}
@include mobile {
  .my-breadcrumb {
    position: absolute;
    width: 80vw;
    left: 1vw;
    top: 20vh;
  }
}
@include tablet {
  .my-breadcrumb {
    position: absolute;
    width: 80vw;
    left: 5vw;
    top: 20vh;
  }
}
