@import "../../styles/variables/mixins";
@import "../../styles/variable.scss";
// @include dashboard(30vh, $bg-dark);

.main-dash {
  position: absolute;
  width: 80vw;
  left: 10vw;
  top: 30vh;
  .space-bottom {
    margin-bottom: 4rem;
  }
}
.job-for-u {
  position: relative;
  top: -2vh;
  left: 22px;
}

@include mobile {
  .main-dash {
    position: absolute;
    width: 95vw;
    left: 2.5vw;
    top: 30vh;
  }
  .job-for-u {
    position: relative;
    top: -2vh;
    left: 12px;
  }
}
@include tablet {
  .main-dash {
    position: absolute;
    width: 90vw;
    left: 5vw;
    top: 30vh;
  }
}
