.paginationBttns {
  margin-top: 3vh;
  width: 80%;
  height: 0px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #43afff33;
  color: #303f60;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: #303f60;
  background-color: #43afff33;
}

.paginationActive a {
  color: white;
  background-color: #43afff33;
}

.paginationDisabled a {
  color: #c6c6c6;
}
/*# sourceMappingURL=pagination.css.map */