@import "../../../styles/variable.scss";
.paginationBttns {
  margin-top: 3vh;
  width: 80%;
  height: 0px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  border-radius: 5px;
  border: 1px solid $navbar-btn;
  margin: 8px;
  padding: 8px 10px 8px 10px;
  color: $light-btn-text;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: #303f60;
  background-color: $navbar-btn;
}

.paginationActive a {
  color: $white;
  background-color: $navbar-btn;
}

.paginationDisabled a {
  color: $input-box-border;
}
