.m--0 {
  margin: 0px;
}

.m--5 {
  margin: 5px;
}

.m--10 {
  margin: 10px;
}

.m--15 {
  margin: 15px;
}

.m--20 {
  margin: 20px;
}

.m--25 {
  margin: 25px;
}

.m--30 {
  margin: 30px;
}

.m--35 {
  margin: 35px;
}

.m--40 {
  margin: 40px;
}

.m--45 {
  margin: 45px;
}

.m--50 {
  margin: 50px;
}

.m--55 {
  margin: 55px;
}

.m--60 {
  margin: 60px;
}

.m--65 {
  margin: 65px;
}

.m--70 {
  margin: 70px;
}

.m--75 {
  margin: 75px;
}

.m--80 {
  margin: 80px;
}

.m--85 {
  margin: 85px;
}

.m--90 {
  margin: 90px;
}

.m--95 {
  margin: 95px;
}

.m--100 {
  margin: 100px;
}

.mt--0 {
  margin-top: 0px;
}

.mt--5 {
  margin-top: 5px;
}

.mt--10 {
  margin-top: 10px;
}

.mt--15 {
  margin-top: 15px;
}

.mt--20 {
  margin-top: 20px;
}

.mt--25 {
  margin-top: 25px;
}

.mt--30 {
  margin-top: 30px;
}

.mt--35 {
  margin-top: 35px;
}

.mt--40 {
  margin-top: 40px;
}

.mt--45 {
  margin-top: 45px;
}

.mt--50 {
  margin-top: 50px;
}

.mt--55 {
  margin-top: 55px;
}

.mt--60 {
  margin-top: 60px;
}

.mt--65 {
  margin-top: 65px;
}

.mt--70 {
  margin-top: 70px;
}

.mt--75 {
  margin-top: 75px;
}

.mt--80 {
  margin-top: 80px;
}

.mt--85 {
  margin-top: 85px;
}

.mt--90 {
  margin-top: 90px;
}

.mt--95 {
  margin-top: 95px;
}

.mt--100 {
  margin-top: 100px;
}

.mr--0 {
  margin-right: 0px;
}

.mr--5 {
  margin-right: 5px;
}

.mr--10 {
  margin-right: 10px;
}

.mr--15 {
  margin-right: 15px;
}

.mr--20 {
  margin-right: 20px;
}

.mr--25 {
  margin-right: 25px;
}

.mr--30 {
  margin-right: 30px;
}

.mr--35 {
  margin-right: 35px;
}

.mr--40 {
  margin-right: 40px;
}

.mr--45 {
  margin-right: 45px;
}

.mr--50 {
  margin-right: 50px;
}

.mr--55 {
  margin-right: 55px;
}

.mr--60 {
  margin-right: 60px;
}

.mr--65 {
  margin-right: 65px;
}

.mr--70 {
  margin-right: 70px;
}

.mr--75 {
  margin-right: 75px;
}

.mr--80 {
  margin-right: 80px;
}

.mr--85 {
  margin-right: 85px;
}

.mr--90 {
  margin-right: 90px;
}

.mr--95 {
  margin-right: 95px;
}

.mr--100 {
  margin-right: 100px;
}

.mb--0 {
  margin-bottom: 0px;
}

.mb--5 {
  margin-bottom: 5px;
}

.mb--10 {
  margin-bottom: 10px;
}

.mb--15 {
  margin-bottom: 15px;
}

.mb--20 {
  margin-bottom: 20px;
}

.mb--25 {
  margin-bottom: 25px;
}

.mb--30 {
  margin-bottom: 30px;
}

.mb--35 {
  margin-bottom: 35px;
}

.mb--40 {
  margin-bottom: 40px;
}

.mb--45 {
  margin-bottom: 45px;
}

.mb--50 {
  margin-bottom: 50px;
}

.mb--55 {
  margin-bottom: 55px;
}

.mb--60 {
  margin-bottom: 60px;
}

.mb--65 {
  margin-bottom: 65px;
}

.mb--70 {
  margin-bottom: 70px;
}

.mb--75 {
  margin-bottom: 75px;
}

.mb--80 {
  margin-bottom: 80px;
}

.mb--85 {
  margin-bottom: 85px;
}

.mb--90 {
  margin-bottom: 90px;
}

.mb--95 {
  margin-bottom: 95px;
}

.mb--100 {
  margin-bottom: 100px;
}

.ml--0 {
  margin-left: 0px;
}

.ml--5 {
  margin-left: 5px;
}

.ml--10 {
  margin-left: 10px;
}

.ml--15 {
  margin-left: 15px;
}

.ml--20 {
  margin-left: 20px;
}

.ml--25 {
  margin-left: 25px;
}

.ml--30 {
  margin-left: 30px;
}

.ml--35 {
  margin-left: 35px;
}

.ml--40 {
  margin-left: 40px;
}

.ml--45 {
  margin-left: 45px;
}

.ml--50 {
  margin-left: 50px;
}

.ml--55 {
  margin-left: 55px;
}

.ml--60 {
  margin-left: 60px;
}

.ml--65 {
  margin-left: 65px;
}

.ml--70 {
  margin-left: 70px;
}

.ml--75 {
  margin-left: 75px;
}

.ml--80 {
  margin-left: 80px;
}

.ml--85 {
  margin-left: 85px;
}

.ml--90 {
  margin-left: 90px;
}

.ml--95 {
  margin-left: 95px;
}

.ml--100 {
  margin-left: 100px;
}

.m--0-imp {
  margin: 0px !important;
}

.m--5-imp {
  margin: 5px !important;
}

.m--10-imp {
  margin: 10px !important;
}

.m--15-imp {
  margin: 15px !important;
}

.m--20-imp {
  margin: 20px !important;
}

.m--25-imp {
  margin: 25px !important;
}

.m--30-imp {
  margin: 30px !important;
}

.m--35-imp {
  margin: 35px !important;
}

.m--40-imp {
  margin: 40px !important;
}

.m--45-imp {
  margin: 45px !important;
}

.m--50-imp {
  margin: 50px !important;
}

.m--55-imp {
  margin: 55px !important;
}

.m--60-imp {
  margin: 60px !important;
}

.m--65-imp {
  margin: 65px !important;
}

.m--70-imp {
  margin: 70px !important;
}

.m--75-imp {
  margin: 75px !important;
}

.m--80-imp {
  margin: 80px !important;
}

.m--85-imp {
  margin: 85px !important;
}

.m--90-imp {
  margin: 90px !important;
}

.m--95-imp {
  margin: 95px !important;
}

.m--100-imp {
  margin: 100px !important;
}

.mt--0-imp {
  margin-top: 0px !important;
}

.mt--5-imp {
  margin-top: 5px !important;
}

.mt--10-imp {
  margin-top: 10px !important;
}

.mt--15-imp {
  margin-top: 15px !important;
}

.mt--20-imp {
  margin-top: 20px !important;
}

.mt--25-imp {
  margin-top: 25px !important;
}

.mt--30-imp {
  margin-top: 30px !important;
}

.mt--35-imp {
  margin-top: 35px !important;
}

.mt--40-imp {
  margin-top: 40px !important;
}

.mt--45-imp {
  margin-top: 45px !important;
}

.mt--50-imp {
  margin-top: 50px !important;
}

.mt--55-imp {
  margin-top: 55px !important;
}

.mt--60-imp {
  margin-top: 60px !important;
}

.mt--65-imp {
  margin-top: 65px !important;
}

.mt--70-imp {
  margin-top: 70px !important;
}

.mt--75-imp {
  margin-top: 75px !important;
}

.mt--80-imp {
  margin-top: 80px !important;
}

.mt--85-imp {
  margin-top: 85px !important;
}

.mt--90-imp {
  margin-top: 90px !important;
}

.mt--95-imp {
  margin-top: 95px !important;
}

.mt--100-imp {
  margin-top: 100px !important;
}

.mr--0-imp {
  margin-right: 0px !important;
}

.mr--5-imp {
  margin-right: 5px !important;
}

.mr--10-imp {
  margin-right: 10px !important;
}

.mr--15-imp {
  margin-right: 15px !important;
}

.mr--20-imp {
  margin-right: 20px !important;
}

.mr--25-imp {
  margin-right: 25px !important;
}

.mr--30-imp {
  margin-right: 30px !important;
}

.mr--35-imp {
  margin-right: 35px !important;
}

.mr--40-imp {
  margin-right: 40px !important;
}

.mr--45-imp {
  margin-right: 45px !important;
}

.mr--50-imp {
  margin-right: 50px !important;
}

.mr--55-imp {
  margin-right: 55px !important;
}

.mr--60-imp {
  margin-right: 60px !important;
}

.mr--65-imp {
  margin-right: 65px !important;
}

.mr--70-imp {
  margin-right: 70px !important;
}

.mr--75-imp {
  margin-right: 75px !important;
}

.mr--80-imp {
  margin-right: 80px !important;
}

.mr--85-imp {
  margin-right: 85px !important;
}

.mr--90-imp {
  margin-right: 90px !important;
}

.mr--95-imp {
  margin-right: 95px !important;
}

.mr--100-imp {
  margin-right: 100px !important;
}

.mb--0-imp {
  margin-bottom: 0px !important;
}

.mb--5-imp {
  margin-bottom: 5px !important;
}

.mb--10-imp {
  margin-bottom: 10px !important;
}

.mb--15-imp {
  margin-bottom: 15px !important;
}

.mb--20-imp {
  margin-bottom: 20px !important;
}

.mb--25-imp {
  margin-bottom: 25px !important;
}

.mb--30-imp {
  margin-bottom: 30px !important;
}

.mb--35-imp {
  margin-bottom: 35px !important;
}

.mb--40-imp {
  margin-bottom: 40px !important;
}

.mb--45-imp {
  margin-bottom: 45px !important;
}

.mb--50-imp {
  margin-bottom: 50px !important;
}

.mb--55-imp {
  margin-bottom: 55px !important;
}

.mb--60-imp {
  margin-bottom: 60px !important;
}

.mb--65-imp {
  margin-bottom: 65px !important;
}

.mb--70-imp {
  margin-bottom: 70px !important;
}

.mb--75-imp {
  margin-bottom: 75px !important;
}

.mb--80-imp {
  margin-bottom: 80px !important;
}

.mb--85-imp {
  margin-bottom: 85px !important;
}

.mb--90-imp {
  margin-bottom: 90px !important;
}

.mb--95-imp {
  margin-bottom: 95px !important;
}

.mb--100-imp {
  margin-bottom: 100px !important;
}

.ml--0-imp {
  margin-left: 0px !important;
}

.ml--5-imp {
  margin-left: 5px !important;
}

.ml--10-imp {
  margin-left: 10px !important;
}

.ml--15-imp {
  margin-left: 15px !important;
}

.ml--20-imp {
  margin-left: 20px !important;
}

.ml--25-imp {
  margin-left: 25px !important;
}

.ml--30-imp {
  margin-left: 30px !important;
}

.ml--35-imp {
  margin-left: 35px !important;
}

.ml--40-imp {
  margin-left: 40px !important;
}

.ml--45-imp {
  margin-left: 45px !important;
}

.ml--50-imp {
  margin-left: 50px !important;
}

.ml--55-imp {
  margin-left: 55px !important;
}

.ml--60-imp {
  margin-left: 60px !important;
}

.ml--65-imp {
  margin-left: 65px !important;
}

.ml--70-imp {
  margin-left: 70px !important;
}

.ml--75-imp {
  margin-left: 75px !important;
}

.ml--80-imp {
  margin-left: 80px !important;
}

.ml--85-imp {
  margin-left: 85px !important;
}

.ml--90-imp {
  margin-left: 90px !important;
}

.ml--95-imp {
  margin-left: 95px !important;
}

.ml--100-imp {
  margin-left: 100px !important;
}

.p--0 {
  padding: 0px;
}

.p--5 {
  padding: 5px;
}

.p--10 {
  padding: 10px;
}

.p--15 {
  padding: 15px;
}

.p--20 {
  padding: 20px;
}

.p--25 {
  padding: 25px;
}

.p--30 {
  padding: 30px;
}

.p--35 {
  padding: 35px;
}

.p--40 {
  padding: 40px;
}

.p--45 {
  padding: 45px;
}

.p--50 {
  padding: 50px;
}

.p--55 {
  padding: 55px;
}

.p--60 {
  padding: 60px;
}

.p--65 {
  padding: 65px;
}

.p--70 {
  padding: 70px;
}

.p--75 {
  padding: 75px;
}

.p--80 {
  padding: 80px;
}

.p--85 {
  padding: 85px;
}

.p--90 {
  padding: 90px;
}

.p--95 {
  padding: 95px;
}

.p--100 {
  padding: 100px;
}

.pt--0 {
  padding-top: 0px;
}

.pt--5 {
  padding-top: 5px;
}

.pt--10 {
  padding-top: 10px;
}

.pt--15 {
  padding-top: 15px;
}

.pt--20 {
  padding-top: 20px;
}

.pt--25 {
  padding-top: 25px;
}

.pt--30 {
  padding-top: 30px;
}

.pt--35 {
  padding-top: 35px;
}

.pt--40 {
  padding-top: 40px;
}

.pt--45 {
  padding-top: 45px;
}

.pt--50 {
  padding-top: 50px;
}

.pt--55 {
  padding-top: 55px;
}

.pt--60 {
  padding-top: 60px;
}

.pt--65 {
  padding-top: 65px;
}

.pt--70 {
  padding-top: 70px;
}

.pt--75 {
  padding-top: 75px;
}

.pt--80 {
  padding-top: 80px;
}

.pt--85 {
  padding-top: 85px;
}

.pt--90 {
  padding-top: 90px;
}

.pt--95 {
  padding-top: 95px;
}

.pt--100 {
  padding-top: 100px;
}

.pr--0 {
  padding-right: 0px;
}

.pr--5 {
  padding-right: 5px;
}

.pr--10 {
  padding-right: 10px;
}

.pr--15 {
  padding-right: 15px;
}

.pr--20 {
  padding-right: 20px;
}

.pr--25 {
  padding-right: 25px;
}

.pr--30 {
  padding-right: 30px;
}

.pr--35 {
  padding-right: 35px;
}

.pr--40 {
  padding-right: 40px;
}

.pr--45 {
  padding-right: 45px;
}

.pr--50 {
  padding-right: 50px;
}

.pr--55 {
  padding-right: 55px;
}

.pr--60 {
  padding-right: 60px;
}

.pr--65 {
  padding-right: 65px;
}

.pr--70 {
  padding-right: 70px;
}

.pr--75 {
  padding-right: 75px;
}

.pr--80 {
  padding-right: 80px;
}

.pr--85 {
  padding-right: 85px;
}

.pr--90 {
  padding-right: 90px;
}

.pr--95 {
  padding-right: 95px;
}

.pr--100 {
  padding-right: 100px;
}

.pb--0 {
  padding-bottom: 0px;
}

.pb--5 {
  padding-bottom: 5px;
}

.pb--10 {
  padding-bottom: 10px;
}

.pb--15 {
  padding-bottom: 15px;
}

.pb--20 {
  padding-bottom: 20px;
}

.pb--25 {
  padding-bottom: 25px;
}

.pb--30 {
  padding-bottom: 30px;
}

.pb--35 {
  padding-bottom: 35px;
}

.pb--40 {
  padding-bottom: 40px;
}

.pb--45 {
  padding-bottom: 45px;
}

.pb--50 {
  padding-bottom: 50px;
}

.pb--55 {
  padding-bottom: 55px;
}

.pb--60 {
  padding-bottom: 60px;
}

.pb--65 {
  padding-bottom: 65px;
}

.pb--70 {
  padding-bottom: 70px;
}

.pb--75 {
  padding-bottom: 75px;
}

.pb--80 {
  padding-bottom: 80px;
}

.pb--85 {
  padding-bottom: 85px;
}

.pb--90 {
  padding-bottom: 90px;
}

.pb--95 {
  padding-bottom: 95px;
}

.pb--100 {
  padding-bottom: 100px;
}

.pl--0 {
  padding-left: 0px;
}

.pl--5 {
  padding-left: 5px;
}

.pl--10 {
  padding-left: 10px;
}

.pl--15 {
  padding-left: 15px;
}

.pl--20 {
  padding-left: 20px;
}

.pl--25 {
  padding-left: 25px;
}

.pl--30 {
  padding-left: 30px;
}

.pl--35 {
  padding-left: 35px;
}

.pl--40 {
  padding-left: 40px;
}

.pl--45 {
  padding-left: 45px;
}

.pl--50 {
  padding-left: 50px;
}

.pl--55 {
  padding-left: 55px;
}

.pl--60 {
  padding-left: 60px;
}

.pl--65 {
  padding-left: 65px;
}

.pl--70 {
  padding-left: 70px;
}

.pl--75 {
  padding-left: 75px;
}

.pl--80 {
  padding-left: 80px;
}

.pl--85 {
  padding-left: 85px;
}

.pl--90 {
  padding-left: 90px;
}

.pl--95 {
  padding-left: 95px;
}

.pl--100 {
  padding-left: 100px;
}

.p--0-imp {
  padding: 0px !important;
}

.p--5-imp {
  padding: 5px !important;
}

.p--10-imp {
  padding: 10px !important;
}

.p--15-imp {
  padding: 15px !important;
}

.p--20-imp {
  padding: 20px !important;
}

.p--25-imp {
  padding: 25px !important;
}

.p--30-imp {
  padding: 30px !important;
}

.p--35-imp {
  padding: 35px !important;
}

.p--40-imp {
  padding: 40px !important;
}

.p--45-imp {
  padding: 45px !important;
}

.p--50-imp {
  padding: 50px !important;
}

.p--55-imp {
  padding: 55px !important;
}

.p--60-imp {
  padding: 60px !important;
}

.p--65-imp {
  padding: 65px !important;
}

.p--70-imp {
  padding: 70px !important;
}

.p--75-imp {
  padding: 75px !important;
}

.p--80-imp {
  padding: 80px !important;
}

.p--85-imp {
  padding: 85px !important;
}

.p--90-imp {
  padding: 90px !important;
}

.p--95-imp {
  padding: 95px !important;
}

.p--100-imp {
  padding: 100px !important;
}

.pt--0-imp {
  padding-top: 0px !important;
}

.pt--5-imp {
  padding-top: 5px !important;
}

.pt--10-imp {
  padding-top: 10px !important;
}

.pt--15-imp {
  padding-top: 15px !important;
}

.pt--20-imp {
  padding-top: 20px !important;
}

.pt--25-imp {
  padding-top: 25px !important;
}

.pt--30-imp {
  padding-top: 30px !important;
}

.pt--35-imp {
  padding-top: 35px !important;
}

.pt--40-imp {
  padding-top: 40px !important;
}

.pt--45-imp {
  padding-top: 45px !important;
}

.pt--50-imp {
  padding-top: 50px !important;
}

.pt--55-imp {
  padding-top: 55px !important;
}

.pt--60-imp {
  padding-top: 60px !important;
}

.pt--65-imp {
  padding-top: 65px !important;
}

.pt--70-imp {
  padding-top: 70px !important;
}

.pt--75-imp {
  padding-top: 75px !important;
}

.pt--80-imp {
  padding-top: 80px !important;
}

.pt--85-imp {
  padding-top: 85px !important;
}

.pt--90-imp {
  padding-top: 90px !important;
}

.pt--95-imp {
  padding-top: 95px !important;
}

.pt--100-imp {
  padding-top: 100px !important;
}

.pr--0-imp {
  padding-right: 0px !important;
}

.pr--5-imp {
  padding-right: 5px !important;
}

.pr--10-imp {
  padding-right: 10px !important;
}

.pr--15-imp {
  padding-right: 15px !important;
}

.pr--20-imp {
  padding-right: 20px !important;
}

.pr--25-imp {
  padding-right: 25px !important;
}

.pr--30-imp {
  padding-right: 30px !important;
}

.pr--35-imp {
  padding-right: 35px !important;
}

.pr--40-imp {
  padding-right: 40px !important;
}

.pr--45-imp {
  padding-right: 45px !important;
}

.pr--50-imp {
  padding-right: 50px !important;
}

.pr--55-imp {
  padding-right: 55px !important;
}

.pr--60-imp {
  padding-right: 60px !important;
}

.pr--65-imp {
  padding-right: 65px !important;
}

.pr--70-imp {
  padding-right: 70px !important;
}

.pr--75-imp {
  padding-right: 75px !important;
}

.pr--80-imp {
  padding-right: 80px !important;
}

.pr--85-imp {
  padding-right: 85px !important;
}

.pr--90-imp {
  padding-right: 90px !important;
}

.pr--95-imp {
  padding-right: 95px !important;
}

.pr--100-imp {
  padding-right: 100px !important;
}

.pb--0-imp {
  padding-bottom: 0px !important;
}

.pb--5-imp {
  padding-bottom: 5px !important;
}

.pb--10-imp {
  padding-bottom: 10px !important;
}

.pb--15-imp {
  padding-bottom: 15px !important;
}

.pb--20-imp {
  padding-bottom: 20px !important;
}

.pb--25-imp {
  padding-bottom: 25px !important;
}

.pb--30-imp {
  padding-bottom: 30px !important;
}

.pb--35-imp {
  padding-bottom: 35px !important;
}

.pb--40-imp {
  padding-bottom: 40px !important;
}

.pb--45-imp {
  padding-bottom: 45px !important;
}

.pb--50-imp {
  padding-bottom: 50px !important;
}

.pb--55-imp {
  padding-bottom: 55px !important;
}

.pb--60-imp {
  padding-bottom: 60px !important;
}

.pb--65-imp {
  padding-bottom: 65px !important;
}

.pb--70-imp {
  padding-bottom: 70px !important;
}

.pb--75-imp {
  padding-bottom: 75px !important;
}

.pb--80-imp {
  padding-bottom: 80px !important;
}

.pb--85-imp {
  padding-bottom: 85px !important;
}

.pb--90-imp {
  padding-bottom: 90px !important;
}

.pb--95-imp {
  padding-bottom: 95px !important;
}

.pb--100-imp {
  padding-bottom: 100px !important;
}

.pl--0-imp {
  padding-left: 0px !important;
}

.pl--5-imp {
  padding-left: 5px !important;
}

.pl--10-imp {
  padding-left: 10px !important;
}

.pl--15-imp {
  padding-left: 15px !important;
}

.pl--20-imp {
  padding-left: 20px !important;
}

.pl--25-imp {
  padding-left: 25px !important;
}

.pl--30-imp {
  padding-left: 30px !important;
}

.pl--35-imp {
  padding-left: 35px !important;
}

.pl--40-imp {
  padding-left: 40px !important;
}

.pl--45-imp {
  padding-left: 45px !important;
}

.pl--50-imp {
  padding-left: 50px !important;
}

.pl--55-imp {
  padding-left: 55px !important;
}

.pl--60-imp {
  padding-left: 60px !important;
}

.pl--65-imp {
  padding-left: 65px !important;
}

.pl--70-imp {
  padding-left: 70px !important;
}

.pl--75-imp {
  padding-left: 75px !important;
}

.pl--80-imp {
  padding-left: 80px !important;
}

.pl--85-imp {
  padding-left: 85px !important;
}

.pl--90-imp {
  padding-left: 90px !important;
}

.pl--95-imp {
  padding-left: 95px !important;
}

.pl--100-imp {
  padding-left: 100px !important;
}

.fx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fx-imp {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.infx {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.infx-imp {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

.fx--w-nw {
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
}

.fx--w-w {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fx--w-wr {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.fx--w-ih {
  -ms-flex-wrap: inherit;
      flex-wrap: inherit;
}

.fx--w-in {
  -ms-flex-wrap: initial;
      flex-wrap: initial;
}

.fx--w-nw-imp {
  -ms-flex-wrap: no-wrap !important;
      flex-wrap: no-wrap !important;
}

.fx--w-w-imp {
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}

.fx--w-wr-imp {
  -ms-flex-wrap: wrap-reverse !important;
      flex-wrap: wrap-reverse !important;
}

.fx--w-ih-imp {
  -ms-flex-wrap: inherit !important;
      flex-wrap: inherit !important;
}

.fx--w-in-imp {
  -ms-flex-wrap: initial !important;
      flex-wrap: initial !important;
}

.fx--d-r {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fx--d-rr {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.fx--d-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fx--d-cr {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.fx--d-ih {
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
}

.fx--d-in {
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
}

.fx--d-r-imp {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

.fx--d-rr-imp {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-direction: row-reverse !important;
          flex-direction: row-reverse !important;
}

.fx--d-c-imp {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.fx--d-cr-imp {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-direction: column-reverse !important;
          flex-direction: column-reverse !important;
}

.fx--d-ih-imp {
  -webkit-box-orient: inherit !important;
  -webkit-box-direction: inherit !important;
      -ms-flex-direction: inherit !important;
          flex-direction: inherit !important;
}

.fx--d-in-imp {
  -webkit-box-orient: initial !important;
  -webkit-box-direction: initial !important;
      -ms-flex-direction: initial !important;
          flex-direction: initial !important;
}

.fx--jc-fs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.fx--jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.fx--jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fx--jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.fx--jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fx--jc-ih {
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
}

.fx--jc-in {
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
}

.fx--jc-fs-imp {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

.fx--jc-fe-imp {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.fx--jc-c-imp {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.fx--jc-sa-imp {
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
}

.fx--jc-sb-imp {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.fx--jc-ih-imp {
  -webkit-box-pack: inherit !important;
      -ms-flex-pack: inherit !important;
          justify-content: inherit !important;
}

.fx--jc-in-imp {
  -webkit-box-pack: initial !important;
      -ms-flex-pack: initial !important;
          justify-content: initial !important;
}

.fx--ai-fs {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.fx--ai-fe {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.fx--ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fx--ai-b {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.fx--ai-s {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.fx--ai-ih {
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}

.fx--ai-in {
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}

.fx--ai-fs-imp {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.fx--ai-fe-imp {
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
}

.fx--ai-c-imp {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.fx--ai-b-imp {
  -webkit-box-align: baseline !important;
      -ms-flex-align: baseline !important;
          align-items: baseline !important;
}

.fx--ai-s-imp {
  -webkit-box-align: stretch !important;
      -ms-flex-align: stretch !important;
          align-items: stretch !important;
}

.fx--ai-ih-imp {
  -webkit-box-align: inherit !important;
      -ms-flex-align: inherit !important;
          align-items: inherit !important;
}

.fx--ai-in-imp {
  -webkit-box-align: initial !important;
      -ms-flex-align: initial !important;
          align-items: initial !important;
}

.table--tb {
  display: table;
}

.table--tb.fw {
  width: 100%;
}

.table--tbin {
  display: inline-table;
}

.table--tbin.fw {
  width: 100%;
}

.table--tc {
  display: table-cell;
}

.table--tc.fw {
  width: 100%;
}

.table--tcap {
  display: table-caption;
}

.table--tcap.fw {
  width: 100%;
}

.table--tr {
  display: table-row;
}

.table--tr.fw {
  width: 100%;
}

.table--trgr {
  display: table-row-group;
}

.table--trgr.fw {
  width: 100%;
}

.table--tcol {
  display: table-column;
}

.table--tcol.fw {
  width: 100%;
}

.table--tcolgr {
  display: table-column-group;
}

.table--tcolgr.fw {
  width: 100%;
}

.table--thgr {
  display: table-header-group;
}

.table--thgr.fw {
  width: 100%;
}

.table--tfgr {
  display: table-footer-group;
}

.table--tfgr.fw {
  width: 100%;
}

.table--ih {
  display: inherit;
}

.table--ih.fw {
  width: 100%;
}

.table--in {
  display: initial;
}

.table--in.fw {
  width: 100%;
}

.table--tb-imp {
  display: table !important;
}

.table--tb-imp.fw {
  width: 100%;
}

.table--tbin-imp {
  display: inline-table !important;
}

.table--tbin-imp.fw {
  width: 100%;
}

.table--tc-imp {
  display: table-cell !important;
}

.table--tc-imp.fw {
  width: 100%;
}

.table--tcap-imp {
  display: table-caption !important;
}

.table--tcap-imp.fw {
  width: 100%;
}

.table--tr-imp {
  display: table-row !important;
}

.table--tr-imp.fw {
  width: 100%;
}

.table--trgr-imp {
  display: table-row-group !important;
}

.table--trgr-imp.fw {
  width: 100%;
}

.table--tcol-imp {
  display: table-column !important;
}

.table--tcol-imp.fw {
  width: 100%;
}

.table--tcolgr-imp {
  display: table-column-group !important;
}

.table--tcolgr-imp.fw {
  width: 100%;
}

.table--thgr-imp {
  display: table-header-group !important;
}

.table--thgr-imp.fw {
  width: 100%;
}

.table--tfgr-imp {
  display: table-footer-group !important;
}

.table--tfgr-imp.fw {
  width: 100%;
}

.table--ih-imp {
  display: inherit !important;
}

.table--ih-imp.fw {
  width: 100%;
}

.table--in-imp {
  display: initial !important;
}

.table--in-imp.fw {
  width: 100%;
}

/* Table */
.sec--table {
  display: table;
}

.sec--table.fw {
  width: 100%;
}

/* Table */
.sec--table-imp {
  display: table !important;
}

.sec--table-imp.fw {
  width: 100%;
}

/* Table Row */
.sec--table-row {
  display: table-row;
}

/* Table Row (IMP) */
.sec--table-row-imp {
  display: table-row !important;
}

/* Table Cell */
.sec--table-cell {
  display: table-cell;
}

/* Table Cell (IMP) */
.sec--table-cell-imp {
  display: table-cell;
}

.valign--bl {
  vertical-align: baseline;
}

.valign--b {
  vertical-align: bottom;
}

.valign--m {
  vertical-align: middle;
}

.valign--sub {
  vertical-align: sub;
}

.valign--sup {
  vertical-align: super;
}

.valign--tb {
  vertical-align: text-bottom;
}

.valign--tt {
  vertical-align: text-top;
}

.valign--t {
  vertical-align: top;
}

.valign--ih {
  vertical-align: inherit;
}

.valign--in {
  vertical-align: initial;
}

.valign--bl-imp {
  vertical-align: baseline !important;
}

.valign--b-imp {
  vertical-align: bottom !important;
}

.valign--m-imp {
  vertical-align: middle !important;
}

.valign--sub-imp {
  vertical-align: sub !important;
}

.valign--sup-imp {
  vertical-align: super !important;
}

.valign--tb-imp {
  vertical-align: text-bottom !important;
}

.valign--tt-imp {
  vertical-align: text-top !important;
}

.valign--t-imp {
  vertical-align: top !important;
}

.valign--ih-imp {
  vertical-align: inherit !important;
}

.valign--in-imp {
  vertical-align: initial !important;
}

.width--full {
  width: 100%;
}

.width--full-imp {
  width: 100% !important;
}

.width--half {
  width: 50%;
}

.width--half-imp {
  width: 50% !important;
}

.width--auto {
  width: auto;
}

.width--auto-imp {
  width: auto !important;
}

.width--full-vw {
  width: 100vw;
}

.width--full-vw-imp {
  width: 100vw !important;
}

.width--half-vw {
  width: 50vw;
}

.width--half-vw-imp {
  width: 50vw !important;
}

.height--full {
  height: 100%;
}

.height--full-imp {
  height: 100% !important;
}

.height--half {
  height: 50%;
}

.height--half-imp {
  height: 50% !important;
}

.height--auto {
  height: auto;
}

.height--auto {
  height: auto !important;
}

.height--full-vh {
  height: 100vh;
}

.height--full-vh-imp {
  height: 100vh !important;
}

.height--half-vh {
  height: 50vh;
}

.height--half-vh-imp {
  height: 50vh !important;
}

.color--social-facebook {
  color: #3b5999;
}

.color--social-messenger {
  color: #0084ff;
}

.color--social-twitter {
  color: #55acee;
}

.color--social-linkedin {
  color: #0077b5;
}

.color--social-skype {
  color: #00aff0;
}

.color--social-dropbox {
  color: #007ee5;
}

.color--social-wordpress {
  color: #21759b;
}

.color--social-vimeo {
  color: #1ab7ea;
}

.color--social-slideshare {
  color: #0077b5;
}

.color--social-vk {
  color: #4c75a3;
}

.color--social-tumblr {
  color: #34465d;
}

.color--social-yahoo {
  color: #410093;
}

.color--social-gplus {
  color: #db4437;
}

.color--social-pinterest {
  color: #bd081c;
}

.color--social-youtube {
  color: #cd201f;
}

.color--social-stumbleupon {
  color: #eb4924;
}

.color--social-reddit {
  color: #ff5700;
}

.color--social-quora {
  color: #b92b27;
}

.color--social-yelp {
  color: #af0606;
}

.color--social-weibo {
  color: #df2029;
}

.color--social-producthunt {
  color: #da552f;
}

.color--social-hackernews {
  color: #ff6600;
}

.color--social-soundcloud {
  color: #ff3300;
}

.color--social-blogger {
  color: #f57d00;
}

.color--social-whatsapp {
  color: #4dc247;
}

.color--social-wechat {
  color: #09b83e;
}

.color--social-line {
  color: #00c300;
}

.color--social-medium {
  color: #12100e;
}

.color--social-vine {
  color: #00b489;
}

.color--social-slack {
  color: #3aaf85;
}

.color--social-instagram {
  color: #c21473;
}

.color--social-dribbble {
  color: #ea4c89;
}

.color--social-flickr {
  color: #ff0084;
}

.color--social-foursquare {
  color: #f94877;
}

.color--social-behance {
  color: #1769ff;
}

.color--social-github {
  color: #24292e;
}

.color--social-spotify {
  color: #00e461;
}

.color--social-snapchat {
  color: #fffc00;
}

.color--social-facebook-imp {
  color: #3b5999 !important;
}

.color--social-messenger-imp {
  color: #0084ff !important;
}

.color--social-twitter-imp {
  color: #55acee !important;
}

.color--social-linkedin-imp {
  color: #0077b5 !important;
}

.color--social-skype-imp {
  color: #00aff0 !important;
}

.color--social-dropbox-imp {
  color: #007ee5 !important;
}

.color--social-wordpress-imp {
  color: #21759b !important;
}

.color--social-vimeo-imp {
  color: #1ab7ea !important;
}

.color--social-slideshare-imp {
  color: #0077b5 !important;
}

.color--social-vk-imp {
  color: #4c75a3 !important;
}

.color--social-tumblr-imp {
  color: #34465d !important;
}

.color--social-yahoo-imp {
  color: #410093 !important;
}

.color--social-gplus-imp {
  color: #db4437 !important;
}

.color--social-pinterest-imp {
  color: #bd081c !important;
}

.color--social-youtube-imp {
  color: #cd201f !important;
}

.color--social-stumbleupon-imp {
  color: #eb4924 !important;
}

.color--social-reddit-imp {
  color: #ff5700 !important;
}

.color--social-quora-imp {
  color: #b92b27 !important;
}

.color--social-yelp-imp {
  color: #af0606 !important;
}

.color--social-weibo-imp {
  color: #df2029 !important;
}

.color--social-producthunt-imp {
  color: #da552f !important;
}

.color--social-hackernews-imp {
  color: #ff6600 !important;
}

.color--social-soundcloud-imp {
  color: #ff3300 !important;
}

.color--social-blogger-imp {
  color: #f57d00 !important;
}

.color--social-whatsapp-imp {
  color: #4dc247 !important;
}

.color--social-wechat-imp {
  color: #09b83e !important;
}

.color--social-line-imp {
  color: #00c300 !important;
}

.color--social-medium-imp {
  color: #12100e !important;
}

.color--social-vine-imp {
  color: #00b489 !important;
}

.color--social-slack-imp {
  color: #3aaf85 !important;
}

.color--social-instagram-imp {
  color: #c21473 !important;
}

.color--social-dribbble-imp {
  color: #ea4c89 !important;
}

.color--social-flickr-imp {
  color: #ff0084 !important;
}

.color--social-foursquare-imp {
  color: #f94877 !important;
}

.color--social-behance-imp {
  color: #1769ff !important;
}

.color--social-github-imp {
  color: #24292e !important;
}

.color--social-spotify-imp {
  color: #00e461 !important;
}

.color--social-snapchat-imp {
  color: #fffc00 !important;
}

.bgcolor--social-facebook {
  background-color: #3b5999;
}

.bgcolor--social-messenger {
  background-color: #0084ff;
}

.bgcolor--social-twitter {
  background-color: #55acee;
}

.bgcolor--social-linkedin {
  background-color: #0077b5;
}

.bgcolor--social-skype {
  background-color: #00aff0;
}

.bgcolor--social-dropbox {
  background-color: #007ee5;
}

.bgcolor--social-wordpress {
  background-color: #21759b;
}

.bgcolor--social-vimeo {
  background-color: #1ab7ea;
}

.bgcolor--social-slideshare {
  background-color: #0077b5;
}

.bgcolor--social-vk {
  background-color: #4c75a3;
}

.bgcolor--social-tumblr {
  background-color: #34465d;
}

.bgcolor--social-yahoo {
  background-color: #410093;
}

.bgcolor--social-gplus {
  background-color: #db4437;
}

.bgcolor--social-pinterest {
  background-color: #bd081c;
}

.bgcolor--social-youtube {
  background-color: #cd201f;
}

.bgcolor--social-stumbleupon {
  background-color: #eb4924;
}

.bgcolor--social-reddit {
  background-color: #ff5700;
}

.bgcolor--social-quora {
  background-color: #b92b27;
}

.bgcolor--social-yelp {
  background-color: #af0606;
}

.bgcolor--social-weibo {
  background-color: #df2029;
}

.bgcolor--social-producthunt {
  background-color: #da552f;
}

.bgcolor--social-hackernews {
  background-color: #ff6600;
}

.bgcolor--social-soundcloud {
  background-color: #ff3300;
}

.bgcolor--social-blogger {
  background-color: #f57d00;
}

.bgcolor--social-whatsapp {
  background-color: #4dc247;
}

.bgcolor--social-wechat {
  background-color: #09b83e;
}

.bgcolor--social-line {
  background-color: #00c300;
}

.bgcolor--social-medium {
  background-color: #12100e;
}

.bgcolor--social-vine {
  background-color: #00b489;
}

.bgcolor--social-slack {
  background-color: #3aaf85;
}

.bgcolor--social-instagram {
  background-color: #c21473;
}

.bgcolor--social-dribbble {
  background-color: #ea4c89;
}

.bgcolor--social-flickr {
  background-color: #ff0084;
}

.bgcolor--social-foursquare {
  background-color: #f94877;
}

.bgcolor--social-behance {
  background-color: #1769ff;
}

.bgcolor--social-github {
  background-color: #24292e;
}

.bgcolor--social-spotify {
  background-color: #00e461;
}

.bgcolor--social-snapchat {
  background-color: #fffc00;
}

.bgcolor--social-facebook-imp {
  background-color: #3b5999 !important;
}

.bgcolor--social-messenger-imp {
  background-color: #0084ff !important;
}

.bgcolor--social-twitter-imp {
  background-color: #55acee !important;
}

.bgcolor--social-linkedin-imp {
  background-color: #0077b5 !important;
}

.bgcolor--social-skype-imp {
  background-color: #00aff0 !important;
}

.bgcolor--social-dropbox-imp {
  background-color: #007ee5 !important;
}

.bgcolor--social-wordpress-imp {
  background-color: #21759b !important;
}

.bgcolor--social-vimeo-imp {
  background-color: #1ab7ea !important;
}

.bgcolor--social-slideshare-imp {
  background-color: #0077b5 !important;
}

.bgcolor--social-vk-imp {
  background-color: #4c75a3 !important;
}

.bgcolor--social-tumblr-imp {
  background-color: #34465d !important;
}

.bgcolor--social-yahoo-imp {
  background-color: #410093 !important;
}

.bgcolor--social-gplus-imp {
  background-color: #db4437 !important;
}

.bgcolor--social-pinterest-imp {
  background-color: #bd081c !important;
}

.bgcolor--social-youtube-imp {
  background-color: #cd201f !important;
}

.bgcolor--social-stumbleupon-imp {
  background-color: #eb4924 !important;
}

.bgcolor--social-reddit-imp {
  background-color: #ff5700 !important;
}

.bgcolor--social-quora-imp {
  background-color: #b92b27 !important;
}

.bgcolor--social-yelp-imp {
  background-color: #af0606 !important;
}

.bgcolor--social-weibo-imp {
  background-color: #df2029 !important;
}

.bgcolor--social-producthunt-imp {
  background-color: #da552f !important;
}

.bgcolor--social-hackernews-imp {
  background-color: #ff6600 !important;
}

.bgcolor--social-soundcloud-imp {
  background-color: #ff3300 !important;
}

.bgcolor--social-blogger-imp {
  background-color: #f57d00 !important;
}

.bgcolor--social-whatsapp-imp {
  background-color: #4dc247 !important;
}

.bgcolor--social-wechat-imp {
  background-color: #09b83e !important;
}

.bgcolor--social-line-imp {
  background-color: #00c300 !important;
}

.bgcolor--social-medium-imp {
  background-color: #12100e !important;
}

.bgcolor--social-vine-imp {
  background-color: #00b489 !important;
}

.bgcolor--social-slack-imp {
  background-color: #3aaf85 !important;
}

.bgcolor--social-instagram-imp {
  background-color: #c21473 !important;
}

.bgcolor--social-dribbble-imp {
  background-color: #ea4c89 !important;
}

.bgcolor--social-flickr-imp {
  background-color: #ff0084 !important;
}

.bgcolor--social-foursquare-imp {
  background-color: #f94877 !important;
}

.bgcolor--social-behance-imp {
  background-color: #1769ff !important;
}

.bgcolor--social-github-imp {
  background-color: #24292e !important;
}

.bgcolor--social-spotify-imp {
  background-color: #00e461 !important;
}

.bgcolor--social-snapchat-imp {
  background-color: #fffc00 !important;
}

.btn--social-facebook {
  background-color: #3b5999;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-facebook.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-facebook.focus:focus, .btn--social-facebook.active:active {
  background-color: #3b5999;
  color: #ffffff;
}

.btn--social-messenger {
  background-color: #0084ff;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-messenger.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-messenger.focus:focus, .btn--social-messenger.active:active {
  background-color: #0084ff;
  color: #ffffff;
}

.btn--social-twitter {
  background-color: #55acee;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-twitter.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-twitter.focus:focus, .btn--social-twitter.active:active {
  background-color: #55acee;
  color: #ffffff;
}

.btn--social-linkedin {
  background-color: #0077b5;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-linkedin.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-linkedin.focus:focus, .btn--social-linkedin.active:active {
  background-color: #0077b5;
  color: #ffffff;
}

.btn--social-skype {
  background-color: #00aff0;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-skype.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-skype.focus:focus, .btn--social-skype.active:active {
  background-color: #00aff0;
  color: #ffffff;
}

.btn--social-dropbox {
  background-color: #007ee5;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-dropbox.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-dropbox.focus:focus, .btn--social-dropbox.active:active {
  background-color: #007ee5;
  color: #ffffff;
}

.btn--social-wordpress {
  background-color: #21759b;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-wordpress.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-wordpress.focus:focus, .btn--social-wordpress.active:active {
  background-color: #21759b;
  color: #ffffff;
}

.btn--social-vimeo {
  background-color: #1ab7ea;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-vimeo.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-vimeo.focus:focus, .btn--social-vimeo.active:active {
  background-color: #1ab7ea;
  color: #ffffff;
}

.btn--social-slideshare {
  background-color: #0077b5;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-slideshare.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-slideshare.focus:focus, .btn--social-slideshare.active:active {
  background-color: #0077b5;
  color: #ffffff;
}

.btn--social-vk {
  background-color: #4c75a3;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-vk.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-vk.focus:focus, .btn--social-vk.active:active {
  background-color: #4c75a3;
  color: #ffffff;
}

.btn--social-tumblr {
  background-color: #34465d;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-tumblr.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-tumblr.focus:focus, .btn--social-tumblr.active:active {
  background-color: #34465d;
  color: #ffffff;
}

.btn--social-yahoo {
  background-color: #410093;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-yahoo.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-yahoo.focus:focus, .btn--social-yahoo.active:active {
  background-color: #410093;
  color: #ffffff;
}

.btn--social-gplus {
  background-color: #db4437;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-gplus.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-gplus.focus:focus, .btn--social-gplus.active:active {
  background-color: #db4437;
  color: #ffffff;
}

.btn--social-pinterest {
  background-color: #bd081c;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-pinterest.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-pinterest.focus:focus, .btn--social-pinterest.active:active {
  background-color: #bd081c;
  color: #ffffff;
}

.btn--social-youtube {
  background-color: #cd201f;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-youtube.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-youtube.focus:focus, .btn--social-youtube.active:active {
  background-color: #cd201f;
  color: #ffffff;
}

.btn--social-stumbleupon {
  background-color: #eb4924;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-stumbleupon.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-stumbleupon.focus:focus, .btn--social-stumbleupon.active:active {
  background-color: #eb4924;
  color: #ffffff;
}

.btn--social-reddit {
  background-color: #ff5700;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-reddit.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-reddit.focus:focus, .btn--social-reddit.active:active {
  background-color: #ff5700;
  color: #ffffff;
}

.btn--social-quora {
  background-color: #b92b27;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-quora.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-quora.focus:focus, .btn--social-quora.active:active {
  background-color: #b92b27;
  color: #ffffff;
}

.btn--social-yelp {
  background-color: #af0606;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-yelp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-yelp.focus:focus, .btn--social-yelp.active:active {
  background-color: #af0606;
  color: #ffffff;
}

.btn--social-weibo {
  background-color: #df2029;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-weibo.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-weibo.focus:focus, .btn--social-weibo.active:active {
  background-color: #df2029;
  color: #ffffff;
}

.btn--social-producthunt {
  background-color: #da552f;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-producthunt.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-producthunt.focus:focus, .btn--social-producthunt.active:active {
  background-color: #da552f;
  color: #ffffff;
}

.btn--social-hackernews {
  background-color: #ff6600;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-hackernews.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-hackernews.focus:focus, .btn--social-hackernews.active:active {
  background-color: #ff6600;
  color: #ffffff;
}

.btn--social-soundcloud {
  background-color: #ff3300;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-soundcloud.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-soundcloud.focus:focus, .btn--social-soundcloud.active:active {
  background-color: #ff3300;
  color: #ffffff;
}

.btn--social-blogger {
  background-color: #f57d00;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-blogger.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-blogger.focus:focus, .btn--social-blogger.active:active {
  background-color: #f57d00;
  color: #ffffff;
}

.btn--social-whatsapp {
  background-color: #4dc247;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-whatsapp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-whatsapp.focus:focus, .btn--social-whatsapp.active:active {
  background-color: #4dc247;
  color: #ffffff;
}

.btn--social-wechat {
  background-color: #09b83e;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-wechat.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-wechat.focus:focus, .btn--social-wechat.active:active {
  background-color: #09b83e;
  color: #ffffff;
}

.btn--social-line {
  background-color: #00c300;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-line.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-line.focus:focus, .btn--social-line.active:active {
  background-color: #00c300;
  color: #ffffff;
}

.btn--social-medium {
  background-color: #12100e;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-medium.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-medium.focus:focus, .btn--social-medium.active:active {
  background-color: #12100e;
  color: #ffffff;
}

.btn--social-vine {
  background-color: #00b489;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-vine.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-vine.focus:focus, .btn--social-vine.active:active {
  background-color: #00b489;
  color: #ffffff;
}

.btn--social-slack {
  background-color: #3aaf85;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-slack.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-slack.focus:focus, .btn--social-slack.active:active {
  background-color: #3aaf85;
  color: #ffffff;
}

.btn--social-instagram {
  background-color: #c21473;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-instagram.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-instagram.focus:focus, .btn--social-instagram.active:active {
  background-color: #c21473;
  color: #ffffff;
}

.btn--social-dribbble {
  background-color: #ea4c89;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-dribbble.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-dribbble.focus:focus, .btn--social-dribbble.active:active {
  background-color: #ea4c89;
  color: #ffffff;
}

.btn--social-flickr {
  background-color: #ff0084;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-flickr.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-flickr.focus:focus, .btn--social-flickr.active:active {
  background-color: #ff0084;
  color: #ffffff;
}

.btn--social-foursquare {
  background-color: #f94877;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-foursquare.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-foursquare.focus:focus, .btn--social-foursquare.active:active {
  background-color: #f94877;
  color: #ffffff;
}

.btn--social-behance {
  background-color: #1769ff;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-behance.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-behance.focus:focus, .btn--social-behance.active:active {
  background-color: #1769ff;
  color: #ffffff;
}

.btn--social-github {
  background-color: #24292e;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-github.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-github.focus:focus, .btn--social-github.active:active {
  background-color: #24292e;
  color: #ffffff;
}

.btn--social-spotify {
  background-color: #00e461;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-spotify.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-spotify.focus:focus, .btn--social-spotify.active:active {
  background-color: #00e461;
  color: #ffffff;
}

.btn--social-snapchat {
  background-color: #fffc00;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-snapchat.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-snapchat.focus:focus, .btn--social-snapchat.active:active {
  background-color: #fffc00;
  color: #ffffff;
}

.btn--social-facebook-imp {
  background-color: #3b5999 !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-facebook-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-facebook-imp.focus:focus, .btn--social-facebook-imp.active:active {
  background-color: #3b5999 !important;
  color: #ffffff;
}

.btn--social-messenger-imp {
  background-color: #0084ff !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-messenger-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-messenger-imp.focus:focus, .btn--social-messenger-imp.active:active {
  background-color: #0084ff !important;
  color: #ffffff;
}

.btn--social-twitter-imp {
  background-color: #55acee !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-twitter-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-twitter-imp.focus:focus, .btn--social-twitter-imp.active:active {
  background-color: #55acee !important;
  color: #ffffff;
}

.btn--social-linkedin-imp {
  background-color: #0077b5 !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-linkedin-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-linkedin-imp.focus:focus, .btn--social-linkedin-imp.active:active {
  background-color: #0077b5 !important;
  color: #ffffff;
}

.btn--social-skype-imp {
  background-color: #00aff0 !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-skype-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-skype-imp.focus:focus, .btn--social-skype-imp.active:active {
  background-color: #00aff0 !important;
  color: #ffffff;
}

.btn--social-dropbox-imp {
  background-color: #007ee5 !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-dropbox-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-dropbox-imp.focus:focus, .btn--social-dropbox-imp.active:active {
  background-color: #007ee5 !important;
  color: #ffffff;
}

.btn--social-wordpress-imp {
  background-color: #21759b !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-wordpress-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-wordpress-imp.focus:focus, .btn--social-wordpress-imp.active:active {
  background-color: #21759b !important;
  color: #ffffff;
}

.btn--social-vimeo-imp {
  background-color: #1ab7ea !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-vimeo-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-vimeo-imp.focus:focus, .btn--social-vimeo-imp.active:active {
  background-color: #1ab7ea !important;
  color: #ffffff;
}

.btn--social-slideshare-imp {
  background-color: #0077b5 !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-slideshare-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-slideshare-imp.focus:focus, .btn--social-slideshare-imp.active:active {
  background-color: #0077b5 !important;
  color: #ffffff;
}

.btn--social-vk-imp {
  background-color: #4c75a3 !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-vk-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-vk-imp.focus:focus, .btn--social-vk-imp.active:active {
  background-color: #4c75a3 !important;
  color: #ffffff;
}

.btn--social-tumblr-imp {
  background-color: #34465d !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-tumblr-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-tumblr-imp.focus:focus, .btn--social-tumblr-imp.active:active {
  background-color: #34465d !important;
  color: #ffffff;
}

.btn--social-yahoo-imp {
  background-color: #410093 !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-yahoo-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-yahoo-imp.focus:focus, .btn--social-yahoo-imp.active:active {
  background-color: #410093 !important;
  color: #ffffff;
}

.btn--social-gplus-imp {
  background-color: #db4437 !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-gplus-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-gplus-imp.focus:focus, .btn--social-gplus-imp.active:active {
  background-color: #db4437 !important;
  color: #ffffff;
}

.btn--social-pinterest-imp {
  background-color: #bd081c !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-pinterest-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-pinterest-imp.focus:focus, .btn--social-pinterest-imp.active:active {
  background-color: #bd081c !important;
  color: #ffffff;
}

.btn--social-youtube-imp {
  background-color: #cd201f !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-youtube-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-youtube-imp.focus:focus, .btn--social-youtube-imp.active:active {
  background-color: #cd201f !important;
  color: #ffffff;
}

.btn--social-stumbleupon-imp {
  background-color: #eb4924 !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-stumbleupon-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-stumbleupon-imp.focus:focus, .btn--social-stumbleupon-imp.active:active {
  background-color: #eb4924 !important;
  color: #ffffff;
}

.btn--social-reddit-imp {
  background-color: #ff5700 !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-reddit-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-reddit-imp.focus:focus, .btn--social-reddit-imp.active:active {
  background-color: #ff5700 !important;
  color: #ffffff;
}

.btn--social-quora-imp {
  background-color: #b92b27 !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-quora-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-quora-imp.focus:focus, .btn--social-quora-imp.active:active {
  background-color: #b92b27 !important;
  color: #ffffff;
}

.btn--social-yelp-imp {
  background-color: #af0606 !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-yelp-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-yelp-imp.focus:focus, .btn--social-yelp-imp.active:active {
  background-color: #af0606 !important;
  color: #ffffff;
}

.btn--social-weibo-imp {
  background-color: #df2029 !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-weibo-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-weibo-imp.focus:focus, .btn--social-weibo-imp.active:active {
  background-color: #df2029 !important;
  color: #ffffff;
}

.btn--social-producthunt-imp {
  background-color: #da552f !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-producthunt-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-producthunt-imp.focus:focus, .btn--social-producthunt-imp.active:active {
  background-color: #da552f !important;
  color: #ffffff;
}

.btn--social-hackernews-imp {
  background-color: #ff6600 !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-hackernews-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-hackernews-imp.focus:focus, .btn--social-hackernews-imp.active:active {
  background-color: #ff6600 !important;
  color: #ffffff;
}

.btn--social-soundcloud-imp {
  background-color: #ff3300 !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-soundcloud-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-soundcloud-imp.focus:focus, .btn--social-soundcloud-imp.active:active {
  background-color: #ff3300 !important;
  color: #ffffff;
}

.btn--social-blogger-imp {
  background-color: #f57d00 !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-blogger-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-blogger-imp.focus:focus, .btn--social-blogger-imp.active:active {
  background-color: #f57d00 !important;
  color: #ffffff;
}

.btn--social-whatsapp-imp {
  background-color: #4dc247 !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-whatsapp-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-whatsapp-imp.focus:focus, .btn--social-whatsapp-imp.active:active {
  background-color: #4dc247 !important;
  color: #ffffff;
}

.btn--social-wechat-imp {
  background-color: #09b83e !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-wechat-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-wechat-imp.focus:focus, .btn--social-wechat-imp.active:active {
  background-color: #09b83e !important;
  color: #ffffff;
}

.btn--social-line-imp {
  background-color: #00c300 !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-line-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-line-imp.focus:focus, .btn--social-line-imp.active:active {
  background-color: #00c300 !important;
  color: #ffffff;
}

.btn--social-medium-imp {
  background-color: #12100e !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-medium-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-medium-imp.focus:focus, .btn--social-medium-imp.active:active {
  background-color: #12100e !important;
  color: #ffffff;
}

.btn--social-vine-imp {
  background-color: #00b489 !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-vine-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-vine-imp.focus:focus, .btn--social-vine-imp.active:active {
  background-color: #00b489 !important;
  color: #ffffff;
}

.btn--social-slack-imp {
  background-color: #3aaf85 !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-slack-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-slack-imp.focus:focus, .btn--social-slack-imp.active:active {
  background-color: #3aaf85 !important;
  color: #ffffff;
}

.btn--social-instagram-imp {
  background-color: #c21473 !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-instagram-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-instagram-imp.focus:focus, .btn--social-instagram-imp.active:active {
  background-color: #c21473 !important;
  color: #ffffff;
}

.btn--social-dribbble-imp {
  background-color: #ea4c89 !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-dribbble-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-dribbble-imp.focus:focus, .btn--social-dribbble-imp.active:active {
  background-color: #ea4c89 !important;
  color: #ffffff;
}

.btn--social-flickr-imp {
  background-color: #ff0084 !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-flickr-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-flickr-imp.focus:focus, .btn--social-flickr-imp.active:active {
  background-color: #ff0084 !important;
  color: #ffffff;
}

.btn--social-foursquare-imp {
  background-color: #f94877 !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-foursquare-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-foursquare-imp.focus:focus, .btn--social-foursquare-imp.active:active {
  background-color: #f94877 !important;
  color: #ffffff;
}

.btn--social-behance-imp {
  background-color: #1769ff !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-behance-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-behance-imp.focus:focus, .btn--social-behance-imp.active:active {
  background-color: #1769ff !important;
  color: #ffffff;
}

.btn--social-github-imp {
  background-color: #24292e !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-github-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-github-imp.focus:focus, .btn--social-github-imp.active:active {
  background-color: #24292e !important;
  color: #ffffff;
}

.btn--social-spotify-imp {
  background-color: #00e461 !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-spotify-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-spotify-imp.focus:focus, .btn--social-spotify-imp.active:active {
  background-color: #00e461 !important;
  color: #ffffff;
}

.btn--social-snapchat-imp {
  background-color: #fffc00 !important;
  color: #ffffff !important;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-snapchat-imp.hover:hover {
  opacity: 0.8;
  color: #ffffff;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn--social-snapchat-imp.focus:focus, .btn--social-snapchat-imp.active:active {
  background-color: #fffc00 !important;
  color: #ffffff;
}

.cursor--alias {
  cursor: alias;
}

.cursor--allscroll {
  cursor: all-scroll;
}

.cursor--auto {
  cursor: auto;
}

.cursor--cell {
  cursor: cell;
}

.cursor--colresize {
  cursor: col-resize;
}

.cursor--contextmenu {
  cursor: context-menu;
}

.cursor--copy {
  cursor: copy;
}

.cursor--crosshair {
  cursor: crosshair;
}

.cursor--default {
  cursor: default;
}

.cursor--eresize {
  cursor: e-resize;
}

.cursor--ewresize {
  cursor: ew-resize;
}

.cursor--help {
  cursor: help;
}

.cursor--inherit {
  cursor: inherit;
}

.cursor--initial {
  cursor: initial;
}

.cursor--move {
  cursor: move;
}

.cursor--nresize {
  cursor: n-resize;
}

.cursor--neresize {
  cursor: ne-resize;
}

.cursor--neswresize {
  cursor: nesw-resize;
}

.cursor--nodrop {
  cursor: no-drop;
}

.cursor--none {
  cursor: none;
}

.cursor--notallowed {
  cursor: not-allowed;
}

.cursor--nsresize {
  cursor: ns-resize;
}

.cursor--nwresize {
  cursor: nw-resize;
}

.cursor--nwseresize {
  cursor: nwse-resize;
}

.cursor--pointer {
  cursor: pointer;
}

.cursor--progress {
  cursor: progress;
}

.cursor--rowresize {
  cursor: row-resize;
}

.cursor--sresize {
  cursor: s-resize;
}

.cursor--seresize {
  cursor: se-resize;
}

.cursor--swresize {
  cursor: sw-resize;
}

.cursor--text {
  cursor: text;
}

.cursor--vtext {
  cursor: vertical-text;
}

.cursor--wresize {
  cursor: w-resize;
}

.cursor--wait {
  cursor: wait;
}

.cursor--alias-imp {
  cursor: alias !important;
}

.cursor--allscroll-imp {
  cursor: all-scroll !important;
}

.cursor--auto-imp {
  cursor: auto !important;
}

.cursor--cell-imp {
  cursor: cell !important;
}

.cursor--colresize-imp {
  cursor: col-resize !important;
}

.cursor--contextmenu-imp {
  cursor: context-menu !important;
}

.cursor--copy-imp {
  cursor: copy !important;
}

.cursor--crosshair-imp {
  cursor: crosshair !important;
}

.cursor--default-imp {
  cursor: default !important;
}

.cursor--eresize-imp {
  cursor: e-resize !important;
}

.cursor--ewresize-imp {
  cursor: ew-resize !important;
}

.cursor--help-imp {
  cursor: help !important;
}

.cursor--inherit-imp {
  cursor: inherit !important;
}

.cursor--initial-imp {
  cursor: initial !important;
}

.cursor--move-imp {
  cursor: move !important;
}

.cursor--nresize-imp {
  cursor: n-resize !important;
}

.cursor--neresize-imp {
  cursor: ne-resize !important;
}

.cursor--neswresize-imp {
  cursor: nesw-resize !important;
}

.cursor--nodrop-imp {
  cursor: no-drop !important;
}

.cursor--none-imp {
  cursor: none !important;
}

.cursor--notallowed-imp {
  cursor: not-allowed !important;
}

.cursor--nsresize-imp {
  cursor: ns-resize !important;
}

.cursor--nwresize-imp {
  cursor: nw-resize !important;
}

.cursor--nwseresize-imp {
  cursor: nwse-resize !important;
}

.cursor--pointer-imp {
  cursor: pointer !important;
}

.cursor--progress-imp {
  cursor: progress !important;
}

.cursor--rowresize-imp {
  cursor: row-resize !important;
}

.cursor--sresize-imp {
  cursor: s-resize !important;
}

.cursor--seresize-imp {
  cursor: se-resize !important;
}

.cursor--swresize-imp {
  cursor: sw-resize !important;
}

.cursor--text-imp {
  cursor: text !important;
}

.cursor--vtext-imp {
  cursor: vertical-text !important;
}

.cursor--wresize-imp {
  cursor: w-resize !important;
}

.cursor--wait-imp {
  cursor: wait !important;
}

.text-underline {
  text-decoration: underline;
}

.border-none {
  border: none !important;
}

@font-face {
  font-family: "Avenir";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("../assets/fonts/AvenirLTStd-Light.otf");
  /* IE9 Compat Modes */
  src: url("../assets/fonts/AvenirLTStd-Light.otf") format("truetype");
}

@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../assets/fonts/AvenirLTStd-Book.otf");
  /* IE9 Compat Modes */
  src: url("../assets/fonts/AvenirLTStd-Book.otf") format("truetype");
}

@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/AvenirLTStd-Roman.otf");
  /* IE9 Compat Modes */
  src: url("../assets/fonts/AvenirLTStd-Roman.otf") format("truetype");
}

@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/AvenirLTStd-Medium.otf");
  /* IE9 Compat Modes */
  src: url("../assets/fonts/AvenirLTStd-Medium.otf") format("truetype");
}

@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../assets/fonts/AvenirLTStd-Heavy.otf");
  /* IE9 Compat Modes */
  src: url("../assets/fonts/AvenirLTStd-Heavy.otf") format("truetype");
}

@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/AvenirLTStd-Black.otf");
  /* IE9 Compat Modes */
  src: url("../assets/fonts/AvenirLTStd-Black.otf") format("truetype");
}

* {
  font-family: "Avenir", sans-serif !important;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.app-container {
  position: relative;
  overflow: hidden;
}

a:hover {
  text-decoration: none;
}

.title1,
.title2,
.title3,
.title4,
.title5,
.title6 {
  margin: 0;
}

.title1 {
  font-size: 2rem;
  line-height: 39px;
  font-weight: bold;
}

.title2 {
  font-size: 1.75rem;
  line-height: 39px;
  font-weight: 600;
}

.title3 {
  font-size: 1.5rem;
  line-height: 32px;
  font-weight: 600;
}

@media (max-width: 767px) {
  .title3 {
    font-size: 1.3rem;
  }
}

.title4 {
  font-size: 1.3rem;
  line-height: 39px;
  font-weight: 600;
}

.title5 {
  font-size: 1rem;
  line-height: 20px;
  font-weight: 600;
}

.title6 {
  font-size: 0.875rem;
  line-height: 20px;
  font-weight: 600;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 100%;
    padding: 0 100px;
  }
}

@media (max-width: 1280px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    padding: 0px 60px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    padding: 0px 30px;
  }
}

@media (min-width: 1900px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    padding: 0px 250px;
  }
}

@media (max-width: 767px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    padding: 0 15px;
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.primary-text-color {
  color: #f12711;
}

.secondary-text-color {
  color: #121654;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/*# sourceMappingURL=App.css.map */