// variables
@import "./variables/colors";
@import "./variables/mixins";

// theme styles files
@import "./xtras";
@import "./fonts";

// custom css
* {
  font-family: "Avenir", sans-serif !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.app-container {
  position: relative;
  overflow: hidden;
  // height: 100%;
  // overflow-x: hidden;
}

a {
  &:hover {
    text-decoration: none;
  }
}

// Typography Style
.title1,
.title2,
.title3,
.title4,
.title5,
.title6 {
  margin: 0;
}

.title1 {
  font-size: 2rem;
  line-height: 39px;
  font-weight: bold;
}

.title2 {
  font-size: 1.75rem;
  line-height: 39px;
  font-weight: 600;
}

.title3 {
  font-size: 1.5rem;
  line-height: 32px;
  font-weight: 600;

  // For Mobile view
  @include mobile {
    font-size: 1.3rem;
  }
}

.title4 {
  font-size: 1.3rem;
  line-height: 39px;
  font-weight: 600;
}

.title5 {
  font-size: 1rem;
  line-height: 20px;
  font-weight: 600;
}

.title6 {
  font-size: 0.875rem;
  line-height: 20px;
  font-weight: 600;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  @media (min-width: 1200px) {
    max-width: 100%;
    padding: 0 100px;
  }
  @include rwd(1280) {
    padding: 0px 60px;
  }
  @include tablet {
    padding: 0px 30px;
  }
  @include desktop-xl {
    padding: 0px 250px;
  }
  @include mobile {
    padding: 0 15px;
  }
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.primary-text-color {
  color: $theme-primary;
}
.secondary-text-color {
  color: $theme-secondary;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
