@import "./variable.scss";
@import "./variables/mixins";
.main-body {
  position: absolute;
  width: 40vw;
  left: 30vw;
  top: 20vh;
  padding: 3%;
  border-radius: 15px;
  background-color: $white;
  box-shadow: 0px 30px 36px $box-shadow;

  label {
    padding: 2px 0;
  }

  h3 {
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
  .input-box {
    width: 100%;
    background-color: $input-box-bg;
    border: 1px solid $input-box-border;
  }
  .input-box:focus {
    outline-color: $light-blue-link;
  }

  .error {
    text-align: right;
    color: $danger;
    font-size: small;
  }

  .link-form {
    color: $light-blue-link;
    display: block;
    float: right;
  }

  .link-form:hover {
    color: $light-blue-link;
  }

  .form-end-div {
    padding: 3%;
    display: flex;
    justify-content: center;
  }

  sup {
    color: $danger;
  }

  .btn-light {
    border: 1px solid $light-border;
    color: $light-btn-text;
  }
  .btn-primary {
    border: 1px solid $light-blue-link;
    background: $light-blue-link 0% 0% no-repeat padding-box;
  }
}

@include mobile {
  .main-body {
    left: 15vw;
    width: 70vw;
  }
}
@include tablet {
  .main-body {
    left: 10vw;
    width: 80vw;
  }
}
