.main-body {
  position: absolute;
  width: 40vw;
  left: 30vw;
  top: 20vh;
  padding: 3%;
  border-radius: 15px;
  background-color: white;
  -webkit-box-shadow: 0px 30px 36px #557da526;
          box-shadow: 0px 30px 36px #557da526;
}

.main-body label {
  padding: 2px 0;
}

.main-body h3 {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.main-body .input-box {
  width: 100%;
  background-color: #dee5ec26;
  border: 1px solid #c6c6c6;
}

.main-body .input-box:focus {
  outline-color: #43afff;
}

.main-body .error {
  text-align: right;
  color: red;
  font-size: small;
}

.main-body .link-form {
  color: #43afff;
  display: block;
  float: right;
}

.main-body .link-form:hover {
  color: #43afff;
}

.main-body .form-end-div {
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-body sup {
  color: red;
}

.main-body .btn-light {
  border: 1px solid #c6c6c6;
  color: #303f60;
}

.main-body .btn-primary {
  border: 1px solid #43afff;
  background: #43afff 0% 0% no-repeat padding-box;
}

@media (max-width: 767px) {
  .main-body {
    left: 15vw;
    width: 70vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main-body {
    left: 10vw;
    width: 80vw;
  }
}
/*# sourceMappingURL=form.css.map */