$bg-dark: #303f60;
$bg-light: #edf6ff;
$light-blue-link: #43afff;
$white: white;
$danger: red;
$light-border: #c6c6c6;
$light-btn-text: #303f60;
$input-box-bg: #dee5ec26;
$input-box-border: #c6c6c6;
$box-shadow: #557da526;
$navbar-btn: #43afff33;
$participant-card: #d9efff;
