.participant-card {
  padding: 2%;
  margin: 4px;
  width: 211px;
}

.participant-card .name {
  background-color: #d9efff;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}
/*# sourceMappingURL=modalcards.css.map */