@import "../../../styles/variable.scss";
.participant-card {
  padding: 2%;
  margin: 4px;

  .name {
    background-color: $participant-card;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
}
