@import "../../../styles/variable.scss";
@import "../../../styles/variables/mixins";

.job-card {
  margin: 2% 2%;
  padding: 2%;
  width: 22vw;
  box-shadow: 0px 3px 6px $box-shadow;
  .card-desc {
    height: 180px;
    overflow-y: scroll;
  }
  .card-desc::-webkit-scrollbar {
    display: none;
  }
}

@include tablet {
  .job-card {
    width: 90vw;
  }
}
@include mobile {
  .job-card {
    width: 90vw;
  }
}
