.job-card {
  margin: 1% 2%;
  width: 20vw;
  -webkit-box-shadow: 0px 3px 6px #557da526;
          box-shadow: 0px 3px 6px #557da526;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .job-card {
    width: 90vh;
  }
}

@media (max-width: 767px) {
  .job-card {
    width: 90vh;
  }
}
/*# sourceMappingURL=jobpostcard.css.map */