.container {
  position: absolute;
  top: 15vh;
  left: 15vw;
  margin: auto;
  width: 70vw;
}

.container .img-lady {
  border-radius: 20px;
}

.container span {
  color: #43afff;
}

.container .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 4vh;
}

.container .images img {
  width: 90px;
  height: 40px;
  margin: 2% 4% 2% 0;
}

.card-my {
  padding: 2% 3%;
  background: white;
  border-radius: 10px;
  width: 20vw;
  margin-right: 3.25vw;
}

h3 {
  margin: 6vh 0 6vh 0;
  font-weight: bold;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .whyus {
    margin-top: 20vh;
  }
}

@media (max-width: 767px) {
  h3,
  h1 {
    text-align: center;
  }
  .btn-link-start {
    margin-left: 14vw;
  }
  .img-lady {
    margin-top: 5vh;
  }
  .card-my {
    display: block;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
}
/*# sourceMappingURL=home.css.map */