@import "../../styles/variable.scss";
@import "../../styles/variables/mixins";
.container {
  position: absolute;
  top: 15vh;
  left: 15vw;
  margin: auto;
  width: 70vw;

  .img-lady {
    border-radius: 20px;
  }
  span {
    color: $light-blue-link;
  }
  .images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 4vh;
    img {
      width: 90px;
      height: 40px;
      margin: 2% 4% 2% 0;
    }
  }
}
.card-my {
  padding: 2% 3%;
  background: $white;
  border-radius: 10px;
  width: 20vw;
  margin-right: 3.25vw;
}

h3 {
  margin: 6vh 0 6vh 0;
  font-weight: bold;
}
@include tablet {
  .whyus {
    margin-top: 20vh;
  }
}

@include mobile {
  h3,
  h1 {
    text-align: center;
  }
  .btn-link-start {
    margin-left: 14vw;
  }
  .img-lady {
    margin-top: 5vh;
  }
  .card-my {
    display: block;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
}
