nav {
  background-color: #303f60;
  height: 10vh;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a span {
  color: #43afff;
}

nav a:hover {
  color: white;
}

nav .brand {
  float: left;
  position: relative;
  left: 10vw;
  top: 3vh;
}

nav .login-btn {
  position: relative;
  right: 10vw;
  top: 3vh;
}

nav .btn {
  border: 1px solid #43afff;
  background-color: #43afff33;
}

nav hr {
  position: relative;
  margin: auto;
  width: 80vw;
  top: 4vh;
}
/*# sourceMappingURL=navbar.css.map */