@import "../../styles/variable.scss";

nav {
  background-color: $bg-dark;
  height: 10vh;

  a {
    color: $white;
    text-decoration: none;

    span {
      color: $light-blue-link;
    }
    &:hover {
      color: $white;
    }
  }
  .brand {
    float: left;

    position: relative;
    left: 10vw;
    top: 3vh;
  }
  .login-btn {
    position: relative;
    right: 10vw;
    top: 3vh;
  }
  .btn {
    border: 1px solid $light-blue-link;
    background-color: $navbar-btn;
  }
  hr {
    position: relative;
    margin: auto;
    width: 80vw;
    top: 4vh;
  }
}
